#talks
//DISABLE THIS FOR INTIAL LAUNCH
//#controlbox
//  .instructions
//    span='Sign in with twitter to talk to the '
//    a(href='http://hubot.github.com/')='hubot:'
//  button(id='oauthbutt')='sign in'
#contactinfo
  ul
    li
      a(href='http://twitter.com/robrighter')='twitter'
    li
      span
        &#9733
    li
      a(href='http://github.com/robrighter')='github'
    li
      span
        &#9733
    li
      a(href='http://www.linkedin.com/in/robrighter')='linkedin'